@font-face{
    font-family:"Monday Rain";
    src: url(../fuentes/Monday\ Rain.otf);
}
@font-face {
    font-family: "Hip Horay";
    src: url(../fuentes/Hip\ Horay.otf);
}

a {
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top:2%;
    padding-bottom: 2%;
    margin: 20px;
        
}

main {
    background-color: rgb(238, 233, 233);
    padding: 10px;
}

footer{
    background-color: skyblue; 
    padding:2px;
    padding-top:0%;
    margin: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px; 
}

/*Barra de H1 y ENLACES */ 


header h1{
    display: flex;
    justify-content: center;
    font-family:Hip Horay;
    margin-bottom:50px;
}

header nav {
    display: flex;
    justify-content:center;
    gap:50px;
}

 /*Section Presentacion */ 

 .Presentacion{
    display: flex;
    justify-content: center;
 }
 .acerca-de {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 5px;
    margin: 40px;   
 }

 .parrafo{
    padding: 20px;
 }
 
 /*Section tarjetas (cards)*/

.cards-inf .cards {
    display: grid;
    grid-template-columns:33% 33% 33%;
            
}
 .card-familia, .card-viajes, .card-deporte{
    background-color: white;
    border-color: gray;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    text-align:center;
 }
 .cards img {
    max-width:100%; 
    height: 30%;
 }
  
 /*Section Destacados*/

.informes {
display: flex;
justify-content: space-around;
}

 /*final de pagina*/

 .final{
   display: flex;
   justify-content:space-around;
      
}



/*GALERIA*/

.galeria, .titulo-multimedia{
    text-align: center;
    font-family:'Monday Rain';
}
.video1, .video2, .video3{
    width: 300px;
    height: 300px;
    text-align: center;
    margin-top: 40px;
    margin-left: 90px;
    border: 2px solid black; 
    border-radius: 10px;   
}

.titulo-imagenes{
    margin-top:50px;
}
.galeria, .img{
    text-align: center;
    font-family:'Monday Rain';   
}

.img1gal, .img2gal, .img3gal{
    width: 300px;
    height: 300px;
    text-align: center;
    margin-top: 40px;
    margin-left: 90px;
    border: 2px solid black;
    border-radius: 10px;    
}

/*CONTACTO*/

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.contenedor-contacto, .contacto{
    width: 40%;
    margin-left:5%;
}

.contenedor-registro{
    margin-right: 10%;
    margin-top: 5px;
    padding: 20px;
}

.form-control {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}



