a {
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 177, 15);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top:2%;
    padding-bottom: 2%;
}

main {
    background-color: rgb(241, 237, 237);
    padding: 10px;

}

/*Barra de H1 y ENLACES */ 

header h1{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:50px;
}

header nav {
    display: flex;
    justify-content:center;
    gap:50px;
}
/*Barra de Contacto y Reclamos */ 

 .navbar-right{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 90%;     
 }

 .navbar-right, .contacto, .reclamo {
    margin-bottom: 50px;
    padding-top: 10px;
 }

 /*Section Presentacion */ 

 .Presentacion{
    display: flex;
    justify-content: center;
 }
 .acerca-de {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 5px;
    margin: 40px;   
 }

 .parrafo{
    padding: 20px;
 }
 
 /*Section tarjetas (cards)*/

.cards-inf .cards{
    display: grid;
    grid-template-columns:25% 25%;
    justify-content:left;
    
}
 .card-familia, .card-viajes, .card-deporte, .card-descanso{
    background-color: white;
    border-color: gray;
    border-style: solid;
    padding: 5px;
    margin: 5px;
 }

 /*Section Destacados*/

 .informes{
    display:grid;
    grid-template-columns: 30%;
    justify-content: right;
    margin-top: 50px;

 }

 .destacados{
    background-color: white;
    border-color: gray;
    border-style: solid;

 }